<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Estilo/style.css">
    <title>Login</title>
</head>
<body>
    <div class="container-login">
        <h3>Welcome</h3>
        <label for="">User</label>
        <input type="text">
        Password: <input type="password" name="password" id="password">
        <input type="button" name="wf" onclick="mostrar(this)" value="Ver" id="mp">
        <br>
        <button>Login</button>
        <a href=""> Create account</a>
        <a href="">Recovery Password</a>
    </div>

    <script src="../js/login.js"></script>
</body>
</html>